.App {
  display: flex;
  justify-content: center;
  justify-items: end;
  align-items: center;
  min-height: 100vh;
}

*{
  /* border: 1px solid red; */
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}
